<h1 class='title'>Game Center Leaderboards</h1>

<div class='flex-wrapper'>

<div class='results'>
<ng-container *ngFor='let result of results$'>
  <div class='results__row'><p> Player:
    <span class='player__name'>{{result.player.name}}</span>
    has a
    <span class='player__score'>{{result.score}}</span>
    points
  </p>
  </div>
</ng-container>

</div>

  <form [formGroup]='addResultForm'  (ngSubmit)='onSubmit($event)'>
    <label>Player's name:
      <input
        type='text'
        required='required'
        placeholder='Tom'
        minlength='3'
        formControlName='player'
        [class.invalid]='!addResultForm.valid&& addResultForm.touched'
>
    </label>

    <label>Player's scores:
      <input
        type='number'
        required='required'
        placeholder='10'
        formControlName='score'
        [class.invalid]='!addResultForm.valid && addResultForm.touched'
      >
    </label>

    <button
      type='submit'
      [disabled]='!addResultForm.valid'
    >Send!</button>

  </form>


</div>

